@page
@model DomainCentricDemo.WebApp.Pages.Author.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Author</h1>

<p>
    <a asp-page="Create">Create New Author</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (AuthorViewModel item in Model.Authors) {
        <tr>
            <td>@item.SirName @item.FirstName</td>
            <td>@item.Books</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
