@page
@model DomainCentricDemo.WebApp.Pages.Author.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Author</h1>

<p>
    <a asp-page="Create">Create New Author</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (AuthorViewModel author in Model.Authors) {
        <tr>
            <td>@author.SirName @author.FirstName</td>
	        <td>
		        @Model.GetBooksTitles(author)
	        </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@author.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@author.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@author.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
